:root {
  --snake-color: rgb(33, 163, 33);
  --fruit-color: rgb(241, 34, 34);
  --square-color: rgb(16, 4, 34);
  --edge-color: rgb(90, 101, 207);
  --background-color: rgb(5, 5, 5);
  --top-bar: rgb(0, 0, 163);
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: var(--background-color);
}

.row {
  display: flex;
  height: calc(min(75vw, 75vh) / 24);
  width: calc(min(75vw, 75vh));
}

.square {
  background-color: var(--square-color);
  height: 100%;
  width: 100%;
}

.edge {
  background-color: var(--edge-color);
}

.snake {
  background-color: var(--snake-color);
}

.fruit {
  background-color: var(--fruit-color);
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

#top-bar {
  display: flex;
  background-color: var(--top-bar);
  justify-content: space-evenly;
  width: calc(min(75vw, 75vh));
  padding: 1rem 0;
  color: white;
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
}

#top-bar > * {
  width: 33.3%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#play-button {
  background-color: red;
  border: none;
  outline: none;
  background-color: rgb(28, 94, 216);
  padding: 0.5rem 3rem;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
}

#play-button:hover {
  background-color: rgb(29, 100, 231);
}
